{% extends "main.html" %}

{% block title %}Messengr | Chat{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>
<script>
    var ENCRYPTED_SYM_KEY = {{enc_sym_key|tojson|safe}};
</script>
{% endblock%}

{% block content %}
    
    <div class="container">

        <div class="row" style="margin-left:10px;">
            <h2>Messages</h2>
            <button class="btn btn-primary btn-sm" id="leaveChat">Leave chat</button>
        </div>

        <br><br>

        <div class="row chat-window col-xs-5 col-md-12" style="margin-left:10px;">
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading top-bar">
                        <div class="col-md-8 col-xs-8">
                             <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> {{ other_user }}</h3>

                        </div>
                    </div>
                    <div class="panel-body msg_container_base" id="chat_base">
                        {% if messages %}
                            {% for m in messages %}
                                {% if m.sender_id == user %}
                                    <div class="row msg_container base_sent">
                                        <div class="col-md-10 col-xs-10">
                                            <div class="messages msg_sent">
                                                <p class="text-warning">{{ m.text }}</p>
                                                <time datetime="{{ m.dt }}" class="">{{ m.sender_username }} • {{ m.dt }}</time>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-xs-2 avatar">
                                            <img src="https://secure.gravatar.com/avatar/00000000000000000000000000000000?d=retro" height="100" width="100" class="img-responsive">
                                        </div>
                                    </div>
                                {% endif %}
                                {% if m.receiver_id == user %}
                                    <div class="row msg_container base_receive">
                                        <div class="col-md-2 col-xs-2 avatar">
                                            <img src="https://secure.gravatar.com/avatar/00000000000000000000000000000000?d=retro" height="100" width="100" class="img-responsive">
                                        </div>
                                        <div class="col-md-10 col-xs-10">
                                            <div class="messages msg_receive">
                                                <p class="text-warning">{{ m.text }}</p>
                                                <time datetime="{{ m.dt }}" class="">{{ m.sender_username }} • {{ m.dt }}</time>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No messages found.</p>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="message" name="message" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." maxlength="250"> <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" type="submit" id="send_message">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}