{% extends "main.html" %}

{% block title %}Test Message App | Home{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock%}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-4"><h2>Chats</h2></div>
            <div class="col-md-4 col-md-offset-4">
                {% if error %}
                    <p class="text-danger">Error: {{ error }}</p>
                {% endif %}
                <div class="input-group">
                    <input type="text" class="form-control" id="receiver" name="receiver" placeholder="Receiver username" class="form-control input-sm" maxlength="16"> <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" id="new_chat">New Chat</button>
                    </span>
                </div>
            </div>
        </div>

        <table class="table table-hover" style="margin: auto;">
            <thead>
              <tr>
                <th>Username</th>
                <th>Chat created</th>
                <th>Last message time</th>
              </tr>
            </thead>
            <tbody>
                {% if chats %}
                    {% for c in chats %}
                        <tr class="warning" id={{ c.id }}>
                            {% if c.user1_name == username %}
                                <td>{{ c.user2_name }}</td>
                            {% elif c.user2_name == username %}
                                <td>{{ c.user1_name }}</td>
                            {% else %}
                                <td>{{ username }}</td>
                            {% endif%}
                            <td>{{ c.dt }}</td>
                            <td>{{ c.last_message_dt }}</td>
                        </tr> 
                    {% endfor %}
                {% else %}
                    <tr class="danger">
                        <td></td>
                        <td>No chats found.</td>
                        <td></td>
                    </tr>
                {% endif%}
            </tbody>
          </table>

    </div>

{% endblock %}